@charset "UTF-8";
@use "../global" as *;
/* =========================================================
// wp-core
// ========================================================= */

.top #content, .l-content {
  padding-top: 0em;
}

h1 {
  margin-bottom: 1rem!important;
  font-size: 1.5em!important;
}

// ページネーション
[class*=page-numbers] {
  // color: var(--color_text);
  color: #818181;
}
[class*=page-numbers].current, [class*=page-numbers]:hover {
  background-color: var(--color_main);
  color: #fff;
}
span.dots {
  &:hover {
    background-color: #dedede;
    // color: var(--color_text);
    color: #818181;
  }
}
// [class*=page-numbers].current, [class*=page-numbers].dots:hover {
//   color: #fff;
// }
.p-breadcrumb {
  display: none;
}