@charset "UTF-8";
@use "../global" as *;
/* =========================================================
//  l-main
// ========================================================= */

// アーカイブのメインコンテンツ部分を .l-mainContent にあわせる

@include pc {
  .-sidebar-on .l-main {
    width: calc(100% - var(--swl-sidebar_width) - var(--swl-sidebar_margin));
    max-width: 100%;
    padding: 0 var(--swl-pad_post_content,0);
  }
}