@charset "UTF-8";
/* =========================================================
//  main
// ========================================================= */
/* =========================================================
//  _root
// ========================================================= */
* {
  font-feature-settings: "palt";
}

html {
  font-size: clamp(0.875rem, 0.75rem + 0.33vw, 1rem);
}

:root {
  --swl-font_family: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --swl-font_weight: 600;
}

/* =========================================================
//  body
// ========================================================= */
/* =========================================================
// wp-core
// ========================================================= */
h1 {
  margin-bottom: 1rem !important;
  font-size: 1.5em !important;
}

[class*=page-numbers] {
  color: #818181;
}

[class*=page-numbers].current, [class*=page-numbers]:hover {
  background-color: var(--color_main);
  color: #fff;
}

span.dots:hover {
  background-color: #dedede;
  color: #818181;
}

/* =========================================================
//  l-main
// ========================================================= */
@media (min-width: 960px) {
  .-sidebar-on .l-main {
    width: calc(100% - var(--swl-sidebar_width) - var(--swl-sidebar_margin));
    max-width: 100%;
    padding: 0 var(--swl-pad_post_content, 0);
  }
}
/* =========================================================
//  p-reportList
// ========================================================= */
.p-reportList.-table thead td, .p-reportList.-table thead th, .p-reportList.-table .report-sort {
  background-color: var(--thead-color--bg, var(--color_main));
  color: var(--thead-color--txt, #fff);
  white-space: nowrap;
  text-align: left;
}
.p-reportList.-table th:nth-child(1) {
  width: 15%; /* 発生日 */
}
.p-reportList.-table th:nth-child(2) {
  width: 15%; /* メーカー */
}
.p-reportList.-table th:nth-child(3) {
  width: auto; /* タイトル（残り幅） */
}
.p-reportList.-table th:nth-child(4) {
  width: 8%; /* 受理票 */
  text-align: center;
}
.p-reportList.-table tbody tr > td:first-child {
  white-space: nowrap;
}
.p-reportList.-table a.report-clip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.p-reportList .dashicons {
  font-size: 20px; /* お好みで */
  line-height: 1;
}

.p-reportList td a.report-clip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* =========================================================
// animations
// ========================================================= */
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}
@keyframes fadeInLeftOutRigt {
  0% {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  30% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes fadeInRightOutLeft {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  30% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
}
@keyframes clip-move {
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
@keyframes passing-bar {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  51% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes loopLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--loop-width) * -6));
  }
}
@keyframes loopRight {
  0% {
    transform: translateX(calc(var(--loop-width) * -6));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    transform: scale(1);
  }
  50%, 70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}